.subsection-level1{
    width:100%;
    display:flex;
    justify-content: space-around;
    text-align:justify;
}

.subsection-level2{
    width:50%;
    padding-right:1em;
    padding-left:5%;
    padding-top:2em;
    background-color:ivory;
}



