div.row:after{
    content: "";
    display: table;
    clear: both;
}

div.column1{
    float: left;
    width: 6.666666%;
    height: 100%;
    background-color: #F5FFFA;
}

div.column2{
    float: left;
    width: 20%;
    height: 100%;
    background-color: #F5FFFA;
}

div.column3{
    float: left;
    width: 5%;
    height: 100%;
    background-color: #F5FFFA;
}

div.column4{
    float: left;
    width: 15%;
    height: 100%;
    background-color: #F5FFFA;
}

button.com_name{
    padding: 10% 30%;
    border-radius: 8px;
    border-color: honeydew;
    font-family: Philosopher;
    font-style: oblique;
    font-weight: bold;
    color: honeydew;
    font-size: 16px;
    background-color: orangered;
    outline: none;
    position: relative;
    left: 9%;
    margin-top: 25%;
}

button.com_tag{
    padding: 10% 30%;
    border-radius: 8px;
    border-color: honeydew;
    font-family: Philosopher;
    font-style: oblique;
    font-weight: bold;
    color: honeydew;
    font-size: 16px;
    background-color: orangered;
    outline: none;
    position: relative;
    left: 6%;
    margin-top: 39%;
}