body{
    background-color: #f5fffa;
}

.row#header, .row#content{
    padding:1em;
}

.row .row{
 padding-left:1em;
 padding-right:1em;
}

.col-md-8, .col-md-4{
    text-align:justify;
    width:100%;
}

