body{
    overflow-x:hidden;
    margin:0;
}

div.row:after{
    content: "";
    display: table;
    clear: both;
}

div.name_col{
    justify-content:center;
    height: 100%;

}

div.tag{
    text-align: center;
    align-items:center;
    height: 100%;

}


button.com_name{
    padding: 10% 30%;
    border-radius: 8px;
    border-color: honeydew;
    font-family: 'Exo 2';
    font-weight: bold;
    color: honeydew;
    font-size: 16px;
    background-color:#F5FFFA;
    outline: none;
    position: relative;
    left: 9%;
    margin-top: 25%;
}

button.com_tag{
    padding: 1em;
    border-radius: 8px;
    border-color: honeydew;
    font-family: 'Exo 2';
    font-weight: bold;
    color: honeydew;
    font-size: 16px;
    background-color:#F5FFFA;
    outline: none;
    position: relative;
    left: 9%;
    margin-top: 25%;
}
