html,body{
    height:100%;
    margin:0;
    overflow:hidden;
}

.companylist_body h1{
    text-align:center;
    font-family:'Philosopher';
    margin:1em;
}
section.heading{
    font-family: 'Philosopher';
    text-align: center;
    padding: 8px;
    background-color: rgb(75, 75, 75);
}

iframe.body{
    border: 2px;
    border-radius: 12px;
    border-color: grey;
    border-style: solid;
    width: 100%;
}

.companylist_body{
    height:100vh;
}

.embed-responsive{
    height:50%;
}

footer{
    border: 2px;
    border-radius: 12px;
    border-color: grey;
    border-style: solid;
    height:95%;
}

.btn-outline-dark ,.btn-block{
    border-radius: 8px !important;
    border-color: grey !important;
    font-weight: bold !important;
    padding: 1em;
    font-family: 'Exo 2';
    font-size: 16px;
    margin:1em;
}

.btn:disabled{
    background-color: #f5fffa !important;
}

