body{
    background-color: #f5fffa;
    max-width:100%;
    overflow-x:hidden;
}

#c_registration_pagebody form{
    width:75%;
    border:black solid 1px;
    margin-top:2em;
    margin-left:1em;
    margin-right:1em;
}

#c_registration_pagebody h1{
    text-align:center;
}

#c_registration_pagebody legend{
    font-family:sans-serif;
    font-size:14;
    font-weight: bold;;
}

#c_registration_pagebody input,#c_registration_pagebody textarea{
    border:1px solid black;
    border-radius:2px;
    margin-top:0.5em;
}

#c_registration_pagebody select{
    border:1px solid black;
    margin-top:0.5em;
    text-overflow:ellipsis;
    overflow:hidden;
    max-width: 100%;
}



#c_registration_pagebody .col-md-4>input:not([type="radio"]), .col-md-4>select{
    width:100%;
}

#c_registration_pagebody .col-md-8>input{
    width:48%;
}

#c_registration_pagebody .col>textarea,#c_registration_pagebody .col>input{
    width:31.5%;
}

#c_registration_pagebody .btn{
    margin-bottom:1em;
}

